In [42]:
!pip install numpy pandas

Requirement already satisfied: numpy in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [43]:
import pandas as pd
import numpy as np

## Create Data Set

In [44]:

def get_dataset(size):
    ## Fack data set created
    df = pd.DataFrame()
    df['position'] = np.random.choice(['left','middle','right'],size)
    df['age'] = np.random.randint(1,50,size)
    df['team']=np.random.choice(['red','blue','yellow','green'],size)
    df['win']=np.random.choice(['yes','no'],size)
    df['prob']=np.random.uniform(0,1,size)
    return df

def set_dtypes(df):
    
    df['position']=df['position'].astype('category')
    df['team']=df['team'].astype('category')
    df['age']=df['age'].astype('int8')
    df['prob'] = df['prob'].astype('float32')
    df['win'] = df['win'].map({'yes':True,'no':False})
    return df

In [45]:
df = get_dataset(10_000)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   position  10000 non-null  object
 1   age       10000 non-null  int32
 2   team      10000 non-null  object
 3   win       10000 non-null  object
 4   prob      10000 non-null  float64
dtypes: float64(1), int32(1), object(3)
memory usage: 351.7+ KB

In [47]:
df.head()

  position  age    team  win      prob
0     left   18  yellow  yes  0.753012
1    right   30     red  yes  0.736333
2    right    1     red  yes  0.533191
3     left   23     red  yes  0.653143
4   middle   42    blue   no  0.079978

## CSV
* 3s to read
* 0.5s to write

In [48]:
%%timeit
df = get_dataset(1_000_000)
df.to_csv('test_csv.csv',index=True)

3.13 s ± 271 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [49]:
%%timeit
df = pd.read_csv('test_csv.csv',index_col=[0])

552 ms ± 29.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [50]:
df.head()

  position  age    team  win      prob
0     left   18  yellow  yes  0.753012
1    right   30     red  yes  0.736333
2    right    1     red  yes  0.533191
3     left   23     red  yes  0.653143
4   middle   42    blue   no  0.079978

In [51]:
df = get_dataset(1_000_000)
df = set_dtypes(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

In [52]:
df.to_csv('test_csv.csv',index=False)
df = pd.read_csv('test_csv.csv')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  object
 1   age       1000000 non-null  int64
 2   team      1000000 non-null  object
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 31.5+ MB

In [54]:
df = pd.read_csv('test_csv.csv', 
                 dtype={'size':'category',
                        'int64':'int16',
                        'team':'category',})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  object
 1   age       1000000 non-null  int64
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float64
dtypes: bool(1), category(1), float64(1), int64(1), object(1)
memory usage: 24.8+ MB

## Pickle
* 0.9s to read
* 0.2s to write
* 7 MB

In [55]:
df = get_dataset(1_000_000)
%timeit df.to_pickle('test.pickle')
%timeit df_pickle = pd.read_pickle('test.pickle')

967 ms ± 60 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
296 ms ± 20.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [56]:
df = get_dataset(1_000_000)
df = set_dtypes(df)
df.to_pickle('test.pickle')
df_pickle = pd.read_pickle('test.pickle')

In [57]:
df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

### Parquet
* 0.4s to write
* 0.1s to read
* 7 MB

In [60]:
!pip install pyarrow fastparquet

Requirement already satisfied: pyarrow in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (16.0.0)
Requirement already satisfied: fastparquet in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (2024.2.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: pandas>=1.5.0 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: cramjam>=2.3 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from fastparquet) (2024.3.1)
Requirement already satisfied: packaging in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\satis\anaconda3\envs\pbestenv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [61]:
df = get_dataset(1_000_000)
%timeit df.to_parquet('test.parquet')
%timeit df_parquet = pd.read_parquet('test.parquet')

458 ms ± 14.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
195 ms ± 7.85 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [67]:
df = get_dataset(1_000_000)
df = set_dtypes(df)
df.to_parquet('test.parquet')
df_parquet = pd.read_parquet('test.parquet')
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

In [64]:
# Reading in specific column
df_example = pd.read_parquet('test.parquet', columns=['team','win'])
df_example

          team  win
0        green   no
1          red   no
2       yellow  yes
3          red  yes
4          red   no
...        ...  ...
999995   green  yes
999996    blue  yes
999997   green  yes
999998   green   no
999999   green  yes

[1000000 rows x 2 columns]

## Feather
* 0.2s to write
* 0.1s to read
* 7 MB

In [66]:
df = get_dataset(1_000_000)
%timeit df.to_feather('test.feather')
%timeit df_feather = pd.read_feather('test.feather')

235 ms ± 7.66 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
174 ms ± 11.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [68]:
df = get_dataset(1_000_000)
df = set_dtypes(df)
df.to_feather('test.feather')
df_parquet = pd.read_feather('test.feather')
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

In [74]:
print('Read and write the csv')
df = get_dataset(1_000_000)
df = set_dtypes(df)
%time df.to_csv('test.csv')
%time df_csv = pd.read_csv('test.csv')
df_csv.info()

Read and write the csv
CPU times: total: 328 ms
Wall time: 2.5 s
CPU times: total: 156 ms
Wall time: 595 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1000000 non-null  int64
 1   position    1000000 non-null  object
 2   age         1000000 non-null  int64
 3   team        1000000 non-null  object
 4   win         1000000 non-null  bool
 5   prob        1000000 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 39.1+ MB

In [75]:
print('Read and write the pickle')
df = get_dataset(1_000_000)
df = set_dtypes(df)
%time df.to_pickle('test.pickle')
%time df_pickle = pd.read_pickle('test.pickle')
df_pickle.info()

Read and write the pickle
CPU times: total: 0 ns
Wall time: 15.9 ms
CPU times: total: 0 ns
Wall time: 1.05 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

In [76]:
print('Read and write the parquet')
df = get_dataset(1_000_000)
df = set_dtypes(df)
%time df.to_parquet('test.parquet')
%time df_parquet = pd.read_parquet('test.parquet')
df_parquet.info()

Read and write the parquet
CPU times: total: 0 ns
Wall time: 143 ms
CPU times: total: 0 ns
Wall time: 31.2 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB

In [77]:
print('Read and write the feather')
df = get_dataset(1_000_000)
df = set_dtypes(df)
%time df.to_feather('test.feather')
%time df_feather = pd.read_feather('test.feather')
df_feather.info()

Read and write the feather
CPU times: total: 15.6 ms
Wall time: 17.1 ms
CPU times: total: 0 ns
Wall time: 18.4 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  bool
 4   prob      1000000 non-null  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 7.6 MB